<div class="container py-4">
    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <header class="text-center mb-5">
                <h1 class="display-1 text-primary mb-4">Soapstone</h1>
                <p class="lead text-light">
                   The flow of time is distorted.</p> 
                <p class="lead text-light">
                   Messages pass through our realm to aid, or hinder, those who are foolish enough to gaze upon them.
                </p>
            </header>
        </div>
    </div>
</div>
